<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
    <script
    src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Chalets.css')}}">
    <title>Maunga Club Chalets</title>
</head>

<body>

    <!-- The navbar and wensite of the website-->
    <div>
        <nav class="navbar">
            <img id="logo" src="{{url_for('static', filename='Logo2.png')}}">
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/sign-up">Sign-up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </nav>
    </div>

    <!-- Building the Pukeko chalet-->

    <div>
        <h1 id="Pukeko">Pukeko Chalet</h1>

        <img id="image1" src="{{url_for('static', filename='Pukeko_chalet_exterior.jpg')}}">

        <p id="Info">
            Chalet Number: 2
            <br>
            Chalet Name: Pūkeko
            <br>
            Maximum adults: 6
            <br>
            Maximum children: 15
            <br>
            Great for large families wanting a Chalet for themselves
            <br>
            Limits on adult/child number to ensure a comfortable stay
        </p>

        <a id="pic1" data-fancybox="gallery" href="{{url_for('static', filename='Pukeko_adult_bedroom.jpg')}}"> <img src="{{url_for('static', filename='Pukeko_adult_bedroom_thumb.jpg')}}"></a>
        <a id="pic2" data-fancybox="gallery" href="{{url_for('static', filename='Pukeko_bathroom.jpg')}}"> <img src="{{url_for('static', filename='Pukeko_bathroom_thumb.jpg')}}"></a>
        <a id="pic3" data-fancybox="gallery" href="{{url_for('static', filename='Pukeko_chalet_exterior.jpg')}}"> <img src="{{url_for('static', filename='Pukeko_chalet_exterior_thumb.jpg')}}"></a>
        <a id="pic4" data-fancybox="gallery" href="{{url_for('static', filename='Pukeko_chalet_view.jpg')}}"> <img src="{{url_for('static', filename='Pukeko_chalet_view_thumb.jpg')}}"></a>
    </div>

    <!-- Building the Kakapo Chalet -->

    <div>
        <h1 id="Kakapo">Kakapo Chalet</h1>

        <img id="image2" src="{{url_for('static', filename='Kakapo_cabin_exterior.jpg')}}">

        <p id="Info2">
            Chalet Number: 1
            <br>
            <br>
            Chalet Name: Kākāpo
            <br>
            <br>
            Maximum adults: 10
            <br>
            <br>
            Maximum Children: 30
            <br>
            <br>
            Largest of the Chalets
            <br>
            <br>
            Large kitchen, dining and living area
            <br>
            <br>
            Great amenities.
        </p>

        <a id="pic5" data-fancybox="gallery" href="{{url_for('static', filename='Kakapo_bunk_room.jpg')}}"> <img src="{{url_for('static', filename='Kakapo_bunk_room_thumb.jpg')}}"></a>
        <a id="pic6" data-fancybox="gallery" href="{{url_for('static', filename='Kakapo_cabin_view.jpg')}}"> <img src="{{url_for('static', filename='Kakapo_cabin_view_thumb.jpg')}}"></a>
        <a id="pic7" data-fancybox="gallery" href="{{url_for('static', filename='Kakapo_hallway.jpg')}}"> <img src="{{url_for('static', filename='Kakapo_hallway_thumb.jpg')}}"></a>
        <a id="pic8" data-fancybox="gallery" href="{{url_for('static', filename='Kakapo_cabin_exterior.jpg')}}"> <img src="{{url_for('static', filename='Kakapo_cabin_exterior_thumb.jpg')}}"></a>
    </div>

    <!-- Building the Kererū Chalet -->

    <div>
        <h1 id="Kereru">Kererū Chalet</h1>

        <img id="image3" src="{{url_for('static', filename='Kereru_cabin_exterior.jpg')}}">

        <p id="Info3">
            Chalet Number: 3
            <br>
            <br>
            Chalet Name: Kererū
            <br>
            <br>
            Maximum adults: 2
            <br>
            <br>
            Maximum children: 4
            <br>
            <br>
            Greate option for a family
            <br>
            <br>
            2 Bedrooms
            <br>
            <br>
            Perfect for families with 2-4 children.
            <br>
            <br>
            Separate Living area
        </p>

        <a id="pic9" data-fancybox="gallery" href="{{url_for('static', filename='Kereru_adult_bedroom.jpg')}}"> <img src="{{url_for('static', filename='Kereru_adult_bedroom_thumb.jpg')}}"></a>
        <a id="pic10" data-fancybox="gallery" href="{{url_for('static', filename='Kereru_kids_bedroom.jpg')}}"> <img src="{{url_for('static', filename='Kereru_kids_bedroom_thumb.jpg')}}"></a>
        <a id="pic11" data-fancybox="gallery" href="{{url_for('static', filename='Kereru_kitchen.jpg')}}"> <img src="{{url_for('static', filename='Kereru_kitchen_thumb.jpg')}}"></a>
        <a id="pic12" data-fancybox="gallery" href="{{url_for('static', filename='Kereru_cabin_exterior.jpg')}}"> <img src="{{url_for('static', filename='Kereru_cabin_exterior_thumb.jpg')}}"></a>

    </div>

</body>

</html>
