<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Maunga Club</title>
</head>

<body>

    <!-- The navbar and wensite of the website-->
    <div>
        <nav class="navbar">
            <img id="logo" src="{{url_for('static', filename='Logo2.png')}}">
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/sign-up">Sign-up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/Chalets">Chalets</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
            </nav>
        </div>

    <!--Background image-->

    <div>
        <img id="background" src="{{url_for('static', filename='background.jpg')}}">
    </div>

    <!-- Are you a member part-->

    <h1 id="Text">Welcome to the Maunga Club</h1>

    <!-- Random text -->

    <p id="Random">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Repudiandae adipisci, error quo quos maxime suscipit impedit repellendus. <br> Exercitationem molestias tempore, quia eaque natus reiciendis molestiae libero, voluptatum assumenda quod ea.</p>

</body>

</html>
