<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Maunga Club</title>
</head>

<body>

    <!-- The navbar and wensite of the website-->
    <div>
        <nav class="navbar">
            <img id="logo" src="{{url_for('static', filename='Logo2.png')}}">
            <ul>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/sign-up">Sign-up</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            </nav>
        </div>

    <!--Background image-->

    <div>
        <img id="background" src="{{url_for('static', filename='background.jpg')}}">
    </div>

    <!-- Are you a member part-->

    <h1 id="Text">Are you a member of the Maunga Club?</h1>
    
    <div id="Align-buttons">
        <!--<button class="buttons">Yes!</button> -->
        <button class="buttons"><a href="/login">Yes!</a></button>
        <!--<button class="buttons">No!</button> -->
        <button class="buttons"><a href="/sign-up">No!</a></button>
    </div>

</body>

</html>
