body {
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
}

.navbar ul {
    list-style: none;
    background: #fc7303;
    padding: 0;
    margin: 0;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 80px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
}

.navbar a:hover {
    background: #353640;
}

#logo {
    float: left; 
}

.navbar {
    background: #fc7303;
    height: 15vh;
}

#Pukeko {
    text-align: center;
}

#image1 {
    width: 1100px;
    height: 900px;
}

#Info {
    position: absolute;
    top: 200px;
    left: 1110px;
    font-size: 25px;
}

#pic1 {
    position: absolute;
    top: 475px;
}

#pic2 {
    position: absolute;
    top: 475px;
    left: 1300px;
}

#pic3 {
    position: absolute;
    top: 625px;
}

#pic4 {
    position: absolute;
    top: 625px;
    left: 1300px;
}

#Kakapo {
    text-align: center;
    padding-top: 40px;
}

#image2 {
    width: 1100px;
    height: 900px;
}

#Info2 {
    position: absolute;
    top: 1200px;
    left: 1110px;
    font-size: 25px;
}

#pic5 {
    position: absolute;
    top: 1625px;
}

#pic6 {
    position: absolute;
    top: 1625px;
    left: 1300px;
}

#pic7 {
    position: absolute;
    top: 1758px;
}

#pic8 {
    position: absolute;
    top: 1758px;
    left: 1300px;
}

#Kereru {
    text-align: center;
    padding-top: 40px;
}

#image3 {
    width: 1100px;
    height: 900px;
}

#Info3 {
    position: absolute;
    top: 2220px;
    left: 1110px;
    font-size: 25px;
}

#pic9 {
    position: absolute;
    top: 2700px;
}

#pic10 {
    position: absolute;
    top: 2700px;
    left: 1300px;
}

#pic11 {
    position: absolute;
    top: 2833px;
}

#pic12 {
    position: absolute;
    top: 2833px;
    left: 1300px;
}
